body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #100c01;
}

header {
  background-image: url('https://images.unsplash.com/photo-1605005157113-70b5f53b692c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9');
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d5caca;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 0 15px;
}

.col.image {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.col.text {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 2rem;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  .col.image {
    margin-bottom: 30px;
  }
  
  .col.text {
    padding: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
}
